{% extends "base.html" %}

{% load staticfiles %}

{% block title %}重置密码{% endblock %}
<meta charset="utf-8"/>


{% block content %}

    <div class="row text-center vertical-middle-sm">
        <h1>密码重置</h1>
        <p>忘记了登录密码？在下面输入您的电子邮箱地址，我们将通过电子邮件发送有关密码重置的说明。</p>
        <hr/>

        <form method="post" action="." class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right" style="color:coral">
                    邮箱：
                </label>
                <div class="col-md-6 text-left">{{ form.email }}</div>
            </div>

            <div class="submit-row">
                <input type="submit" value="发送邮件" class="btn btn-primary btn-lg">
            </div>

        </form>
    </div>

{% endblock %}
