{% extends "base.html" %}

{% load staticfiles %}

{% block title %}密码重置{% endblock %}

{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h2>密码重置</h2>
        <p>为了安全，您需要输入两次新密码。</p>
        <p>密码至少8位，同时包含数字和字母，且用户名和密码不能近似。</p>
        <form method="post" action="." class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right" style="color:coral">
                    新密码：
                </label>
                <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label text-right" style="color: coral">
                    确认密码：
                </label>
                <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
            </div>

            <input type="submit" class="btn btn-primary btn-lg" value="提交">
        </form>
    </div>
{% endblock %}
