{% extends "base.html" %}

{% load staticfiles %}

{% block title %}修改密码{% endblock %}
<meta charset="utf-8"/>
{% block content %}
    <div class="row text-center vertical-middle-sm">
        <h1>修改密码</h1>
        <p>请输入您的旧密码，为了保证安全，您需要输入两次新密码。</p>
        <p>密码至少8位，同时包含数字和字母，且用户名和密码不能近似。</p>
        <hr/>
        {% if form.new_password1.help_text %}
            <div class="text-left" style="margin-left:400px">
                <p>{{ from.new_password1.help_text|safe }}</p>
            </div>
        {% endif %}

        <form method="post" action="." class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <label class="col-md-5 control-label text-right" style="color:coral">
                    旧密码：
                </label>
                <div class="col-md-6 text-left">{{ form.old_password }}</div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label text-right" style="color:coral">
                    新密码：
                </label>
                <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
            </div>

            <div class="form-group">
                <label class="col-md-5 control-label text-right" style="color:coral">
                    确认新密码：
                </label>
                <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
            </div>

            <div class="submit-row">
                <input type="submit" value="确认修改" class="btn btn-primary btn-lg">
            </div>

        </form>
    </div>
{% endblock %}
