{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-sidth, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    {% include "article/header.html" %}
    <div class="col-md-2">
        {% include "article/leftslider.html" %}
    </div>
    <div class="col-md-10">
        {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</div>
</body>
</html>