{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <img src="{% static '/images/ying.jpg' %}" width="100px"/>
            </a>
        </div>
        <div>
            <ul class="nav navbar-nav" role="tablist">
                <li><a href="{% url 'home' %}">首页</a></li>
                <li><a href="{% url 'article:article_list' %}">文章管理</a></li>
                <li><a href="#">图片管理</a></li>
                <li><a href="#">课程管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">

                <li><a href="#">{{ user.username }}</a></li>
                <li><a href="{% url 'account:user_logout' %}">退出登录</a></li>
            </ul>
        </div>
    </nav>
</div>
